{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h2 class="text-center">Works log</h2>


    {% for job, user in data %}
        <div class="container">
            <h3>Action {{ loop.index }}</h3>
            <table class="table">
                <thead>
                <tr class="table-dark">
                    <th scope="col">Title of activity</th>
                    <th scope="col">Team leader</th>
                    <th scope="col">Duration</th>
                    <th scope="col">List of collaborators</th>
                    <th scope="col">Is finished</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ job.job }}</td>
                    <td>{{ user.name }} {{ user.surname }}</td>
                    <td>{{ job.work_size }}</td>
                    <td>{% if job.collaborators %}{{ job.collaborators }}{% else %}Solo{% endif %}</td>
                    <td>Is {% if job.is_finished == 0 %}not{% endif %} finished</td>
                </tr>
                </tbody>
            </table>
        </div>
    {% endfor %}
{% endblock %}